# Better Auth Secret
BETTER_AUTH_SECRET=""

# Github Provider
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Drizzle
DATABASE_URL=""

# Appwrite
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_ENDPOINT=
APPWRITE_API_KEY=

# Node Environment
NODE_ENV=""

# App Environment
NEXT_PUBLIC_APP_ENV=