# Better Auth Secret
BETTER_AUTH_SECRET=""

# Github Provider
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Drizzle
DATABASE_URL=""

# Node Environment
NODE_ENV=""
